<div class="container">
  <a class="btn btn-primary my-3" routerLink="/admin/products/new">New Product</a>
</div>

<div class="form-group">
  <input #query type="text" class="form-control" placeholder="search.." (keyup)="filter(query.value)">
</div>

<ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="Title">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Price">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value | currency: 'CAD': true}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column>
    <ng-template ngx-datatable-cell-template let-row="row">
        <a [routerLink]="['/admin/products/', row.$key]">Edit</a>
    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>


